body {
  margin: 0;
  background-color: #69626d;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game {
  width: 1000px;
  height: 1300px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: auto;
}

.title {
  color: #ff1654;
}

.summary {
  color: #ff1654;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.reset {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.isaudiodiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  color: rgb(43, 255, 0);
}


button {
  background-color: #5aff15;
  border-radius: 4px;
  padding: 15px 22px;
  text-align: center;
  display: inline-block;
}




/* etape 2 de 5.2 css avec les classe baser sur les chapitre*/


/*chapitre0 style*/
.chapter0 .game{
  background-color: #000000;
}

.chapter0 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter0 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}

/*chapitre1 style*/
.chapter1 .game{
  background-color: #000000;
}

.chapter1 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter1 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}

/*chapitre2 style*/
.chapter2 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter2 .game{
  background-image: url("assets/galaxymoving.gif");
  background-size: cover;
}

.chapter2 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}

/*chapitre3 style*/
.chapter3 .game{
  background-color: #000000;
}

.chapter3{
  background-image: url("assets/takethebag.png");
}

.game .chapter3{
  background-image: url("assets/takethebag.png");
}

.chapter3 button{
  background-color: #ff0000;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter3 button:hover{
  font-family: fantasy;
  background-color: #acfcff;
  transform: translateY(-30%);
}

/*chapitre4 style*/
.chapter4{
  background-image: url("assets/cakebackground.png");
  background-size: cover;
}

.chapter4 .game{
  background-image: url("assets/cakebackground.png");
  background-size: cover;
}

.chapter4 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter4 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}


/*chapitre5 style*/
.chapter5 .game{
  background-color: #000000;
}

.chapter5 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter5 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}

/*chapitre6 style*/
.chapter6 .game{
  background-color: #000000;
}

.chapter6 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter6 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}

/*chapitre7 style*/
.chapter7 .game{
  background-color: #000000;
}

.chapter7 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter7 button:hover{
  background-image: url("assets/sparkle.gif");
  font-family: fantasy;
  transform: translateY(-30%);
}

/*chapitre8 style*/
.chapter8 .game{
  background-color: #000000;
}

.chapter8 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter8 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}

/*chapitre9 style*/
.chapter9 .game{
  background-color: #000000;
}

.chapter9 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter9 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}

/*chapitre101 style*/
.chapter101 .game{
  background-color: #000000;
}

.chapter101 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter101 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}

/*chapitre102 style*/
.chapter102 .game{
  background-color: #000000;
}

.chapter102 button{
  background-color: #5aff15;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter102 button:hover{
  font-family: fantasy;
  background-color: #c7ffaf;
  transform: translateY(-30%);
}

/*103*/
.chapter103 button{
  background-color: #ff0000;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transform: translateY(5%);
}

.chapter103 button:hover{
  font-family: fantasy;
  background-color: #acfcff;
  transform: translateY(-30%);
}

.chapter103 {
  background-image: url("assets/theyknow.png");
}

.game .chapter103{
  background-color: radial-gradient(circle, rgba(0,0,0,1) 25%, rgba(190,0,0,1) 29%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
}


