body {
  margin: 0;
  background-color: #69626d;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game {
  width: 1000px;
  height: 1300px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: auto;
}

.title {
  color: #ff1654;
}

.summary {
  color: #ff1654;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.reset {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.isaudiodiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  color: rgb(43, 255, 0);
}


button {
  background-color: #5aff15;
  border-radius: 4px;
  padding: 15px 22px;
  text-align: center;
  display: inline-block;
}




/* etape 2 de 5.2 css avec les classe baser sur les chapitre*/


.chapter1 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}

.chapter2 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}

.chapter3 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}

.chapter4 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}

.chapter5 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}

.chapter6 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}

.chapter7 button:hover{
  background-image: "sparkle.gif";
  font-family: fantasy;
}

.chapter8 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}

.chapter9 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}
.chapter101 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}
.chapter102 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}
.chapter103 button:hover{
  font-family: fantasy;
  background-color: #236d046e;
}
